<main class="w-full h-full border-r border-neutral-900 flex flex-col justify-between items-center py-4 px-4">
    <h3 class="font-semibold font-montserrat text-neutral-100">Agregar Vocabulario</h3>
    <section class="font-quicksand text-neutral-300 text-sm my-4 w-full">
        <div class="w-full">
            <input (change)="onFileChange($event)" multiple #ImgInput type="file" accept=".png, .jpg, .jpeg" class="hidden">
            @if (vocabulary.images.length < 1) {
                <img class="rounded-md w-full max-h-48 object-contain border border-neutral-900" src="/no_image.jpg" alt="">
                <section (click)="ImgInput.click()" class="text-center w-full py-2 cursor-pointer border border-neutral-400 rounded-md my-2 {{ addingImages ? 'bg-neutral-900' : ' hover:bg-neutral-900 hover:border-indigo-400 hover:text-indigo-400' }} transition-all">
                    <span>{{ addingImages ? 'Cargando...' : 'Agregar imagen(es)' }}</span>
                </section>
            } @else {
                <swiper-container class="rounded-md w-full h-48 max-h-48 border border-neutral-900" slides-per-view="1">
                    @for (image of vocabulary.images; track image) {
                        <swiper-slide class="w-full h-full">
                            <img class="w-full h-full object-contain" src="{{ image }}" alt="">
                        </swiper-slide>
                    }
                </swiper-container>
                <section (click)="ImgInput.click()" class="text-center w-full py-2 cursor-pointer border border-neutral-400 rounded-md my-2 {{ addingImages ? 'bg-neutral-900' : ' hover:bg-neutral-900 hover:border-indigo-400 hover:text-indigo-400' }} transition-all">
                    <span>{{ addingImages ? 'Cargando...' : 'Cambiar imagen(es)' }}</span>
                </section>
            }
        </div>
        <div class="w-full py-2 text-neutral-400 font-quicksand text-sm">
            <span>Vocabulario</span>
            <input [(ngModel)]="vocabulary.text" class="w-full bg-neutral-900 bg-opacity-80 border border-200 border-neutral-950 rounded-md py-1 px-2 ring-0 outline-none" type="text">
        </div>
    </section>
    <div (click)="createVocabulary()" class="text-neutral-300 text-center w-full py-2 cursor-pointer border border-neutral-400 rounded-md my-2 {{ addingImages ? 'bg-neutral-900' : ' hover:bg-neutral-900 hover:border-indigo-400 hover:text-indigo-400' }} transition-all">
        <span>{{ addingVocab ? 'Cargando...' : 'Agregar Vocabulario' }}</span>
    </div>
</main>